// PMA Colors
$text-primary: #0A4797;
$mm-primary: #AD0C62;
$mm-primary-disabled: #c4c4c4;
$mm-secondary: #621C43;
$mm-success: #EA600E;
$text-light-gray: #F8F8F8;
$text-gray: #545454;
$gray-bg: #F8F8F8;
$bg-white: #fff;
$gray-border: #DADADA;
$bluish: #273B4A;
$bg-light: #F3F3F3;
$white-color:#FFFFFF;
$black-color: #000000;
$yesbtn-blue: #1C4DA1;
$nobtn-light: #4472C4;
// PMA Font Sizes
$f-10: 10px;       
$f-11: 11px;       
$f-12: 12px;       
$f-13: 13px;       
$f-14: 14px;
$f-15: 15px;
$f-16: 16px;    
$f-18: 18px;    
$f-19: 19px;
$f-20: 20px;
$f-24: 24px;
$f-25: 25px;
$f-30: 30px;
$f-36: 36px;
$f-40: 40px;

// PMA Font Weight
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;
$fw-300: 300;

// PMA Radius
$br-10: 10px;

// PMA Paddings
$padd-10: 10px;
$padd-20: 20px;
$padd-30: 30px;


// PMA 0 Values
$value-0: 0px;

// PMA Cursors
$pointer: pointer;

// font-family
$font-family:'Lato', sans-serif;

